<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>デザイナーステータス</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@uchibashi" />
    <meta property="og:url" content="https://designer-status.firebaseapp.com/" />
    <meta property="og:title" content="テストの結果" />
    <meta property="og:image" content="<%- url %>" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <style>

    </style>
</head>

<body>
    <h1>あなたのスコアは</h1>
    <div><img src="<%- url %>" alt="サンプル画像"></div>
    <p class="print"><%- uid %></p>
    <p class="print"><%- url %></p>
    <p class="print"><%- radarVals.radarVals[3] %></p>

    <script>

    </script>
</body>

</html>